@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

body {
  color: rgb(150, 150, 160);
  background-color: rgb(65, 63, 86);
  font-family: 'Roboto Mono', monospace;
}

a {
  color: unset;
  text-decoration: none;
}

#logo {
  margin: 1rem;
  width: 80px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-right: 2rem;
  padding: 0.5rem;
  min-width: 120px;
  text-align: center;
}

#logout{
  border-right: 2px solid #18147c;
  border-bottom: 2px solid #18147c;
  padding: .4rem;
  color: rgb(175, 47, 47);
  border-radius: 3px;
  text-align: center;
}

button {
  color: white;
  background-color: rgb(105, 99, 251);
  border-radius: 3px;
  line-height: 1.5rem;
  margin: 1.5rem 0.5rem;
  padding: 0.5rem;
  border-right: 2px solid #18147c;
  border-bottom: 2px solid #18147c;
}

button:hover,
#logout:hover {
  border: none;
  border-left: 2px solid #2e5b4c;
  border-top: 2px solid #2e5b4c;
  background-color: rgb(154, 199, 132);
}

main {
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}


.hero h1{
  font-size: 2.5rem;
}

.right-box {
  width: 50%;
}

#button-cont{
  height: 3rem;
  margin-top: 2rem;
}

.right-box button {
  width: 200px;
}

.left-box{
  display: flex;
  width: 50%;
}

.left-box img {
  width: 90%;
  margin-left: auto;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 4rem;
  justify-content: center;
  border-radius: 5px;
  background-color: rgb(135, 132, 165);
  color: rgb(65, 63, 86);
  display: flex;
}

.modal h1 {
  margin: 2rem;
  text-align: center;
}

form{
width: calc(250px + 1rem + 0.4rem);
justify-content: center;
}

input {
  width: 250px;
  line-height: 1.5rem;
  margin: 0.5rem;
  padding: 0.2rem;
  background-color: rgb(190, 190, 190);
}

#subm-btn {
  width: 250px;
}

#note {
  color: red;
  text-align: center;
}

.visible {
  visibility: visible;
}

.notVisible {
  display: none;
}

.filterOn {
  filter: blur(4px);
}
