* {
  padding: 0;
  margin: 0;
}

body {
  color: rgb(105, 99, 251);
  background-color: rgb(65, 63, 86);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button {
  line-height: 1.5rem;
  border: none;
  background-color: rgb(105, 99, 251);
  border-radius: 3px;
  margin-top: 1rem;
}

button:hover {
  box-shadow: inset 5px 5px 20px #44026b, inset -5px -5px 20px #44026b;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-right: 2rem;
}

main {
  height: 100vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-box,
.right-box {
  width: 50%;
}

.right-box div {
  padding: 10%;
}

#secret-btn {
  width: 150px;
}

.left-box img {
  width: 100%;
}

.modal {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 50vh;
  width: 50vw;
  border-radius: 5px;
  background-color: rgb(135, 132, 165);
}

.modal h1 {
  margin: 1rem;
  text-align: center;
}

input,
#subm-btn {
  width: 250px;
  line-height: 1.5rem;
  margin: 0.5rem;
  padding: 0.2rem;
  border: none;
}

input {
  background-color: rgb(190, 190, 190);
}
